.wallet-deposit span{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #444;
    margin-bottom: 10px;
}

.vendor-profile .nav-pills>li.active>a, .vendor-profile .nav-pills>li.active>a:focus, .vendor-profile .nav-pills>li.active>a:hover{
    background-color: #ff7a00;
}

.vendor-profile .nav a{
    color: #000;
    border: 1px solid #ccc;
}

.vendor-profile .nav li:first-child a{
    margin-right: 3px;
}

.vendor-profile .tab-content{
    padding-top: 25px;
}

.custom-container{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}