.page-banner{
    background: #BD562a !important;
}

/*#chart_wrap {*/
    /*position: relative;*/
    /*padding-bottom: 30%;*/
    /*height: 0;*/
    /*overflow:hidden;*/
/*}*/

#chart_wrap {
    position: relative;
    padding-bottom: 20%;
    height: 0;
    overflow:hidden;
}
#chart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

@media screen and (min-width: 752px) and (max-width: 1023px)  {
    .homepage-section1-img{
        width: 15% !important;
    }
    .homepage-section4-img{
        width: 25% !important;
    }
}
@media screen and (min-width: 466px) and (max-width: 751px)  {
    #chart_wrap {
        padding-bottom: 60%;
    }
    .read-more-description{
        margin-bottom: 25%;
    }
    .causes-wrapper-custom{
        padding-top:0;
    }
    .subscribe_popup_image{
        width: 70%;
    }
    .homepage-section1-img{
        width: 25% !important;
    }
    .homepage-section4-img{
        width: 25% !important;
    }
}
@media screen and (max-width: 465px)  {
    #chart_wrap {
        padding-bottom: 75%;
    }

    .page-banner {
        padding-top: 10% !important;
    }

    .modal{
        padding-top:40% !important;
    }

    #modal-checkout-confirm .modal-body{
        height: 150px;
        overflow-y: auto;
    }

    .read-more-description{
        margin-bottom: 25%;
    }
    .causes-wrapper-custom{
        padding-top:0;
    }

    .homepage-section1-img{
        width: 35% !important;
    }
    .homepage-section4-img{
        width: 35% !important;
    }

    .homepage-section4-img-text{
        height:125px !important;
        width: 100%;
    }

    .homepage-footer-contact-us{
        text-align: center !important;
    }

    .top_logo{
        width:99% !important;
    }
    .subscribe_popup_image{
        width: 45%;
    }
}

.custom-input-login {
    display: block;
    width: 100%;
    height: 45px;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 3px;
    padding: 0 15px;
    color: rgba(0, 0, 255, 0.85);
}

.feature-div{
    height: 60px;
}

#chart_div {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.progress-bar {
    background: #f1f1f1 none repeat scroll 0 0 !important;
    border-radius: 25px !important;
    box-shadow: 0 0 0 !important;
    height: 17px !important;
    margin: 0 0 19px !important;
    position: relative !important;
    width: 100% !important;
}

.custom-color .active p{
    color:white;
}

/* css for payment information table*/
.bag_total {
    width: 100%;
    padding-bottom: 3px;
}

.bag_total tr {

    display: block;
    width: 100%;
    padding: 10px 0 9px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 11px;
    border-top: 1px solid #e9e9e9;

}

.bag_total tr th {
    float: left;
}

.bag_total tr td {
     float: right;
 }

.bag_total tr.cart-subtotal td {
    font-weight: 900;
    font-size: 14px;
    color: #666;
}

.bag_total tr.shipping td {
    font-weight: 900;
    font-size: 14px;
    color: #cc3333;
}

.bag_total tr.total td {
    font-weight: 900;
    font-size: 18px;
    color: #333;
}

/* hidden text number spinner */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* change on hover color */
.btn.btn-solid:hover {
    background:#BD562a;
    color: #ffffff;
}
.btn.btn-secondary:hover {
    background:#BD562a;
    color: #ffffff;
}
.navigation #search-toggle:hover,
.navigation #menu-toggle:hover{
    background:#BD562a;
    color: #ffffff;
}

a#scrollUp:hover {
    background: #BD562a none repeat scroll 0 0;
    color: #ffffff;
}

/* change link hover  */
h5 a{
    color: #ffffff;
}
h5 a:hover{
    color: #ff7a00;
}

/* change modal header and body border */
.modal-footer {
    border-top: none !Important;
}

/* change banner  */
.page-banner {
    /*height: 200px;*/
    padding-top: 68px;
}

.blog-page-wrapper .blog-posts .blog-post.single-post ol li {
    margin: 0 0 15px 20px;
    color: #444;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* home slider custom */
.slider-screen {
    background-position: center center;
    background-size: cover;
    height: 100vh;
    padding: 0;
    position: relative;
}
body{
    font-size: 17px;
}
/*.blog-page-wrapper .blog-posts .blog-post.single-post p{*/
p{
    font-size: 17px;
}

.orange{
    color: #ff7a00 !Important;
}

.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.font-11{
    font-size: 11px;
}
.font-10{
    font-size: 10px;
}

.green{
    color:green;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* video responsive css */
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* center button in product */
.center-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* custom css for new home design */
.navigation{
    background: #2e3436 !important;
    color: #ddd;
}
.navigation .menu-wrap .menu > li a, .navigation .menu-wrap .menu > li span{
    color: #ddd;
}

.top_logo{
    width:50%;
}

.features-wrapper.one{
    background: #fff none repeat scroll 0 0 !important;
}

.features-wrapper.one .features {
    margin-top: 20px !important;
}

.fullpage_background {
    background: url("../../frontend_images/homepage/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-size: 100%;*/
    /*max-height: 610px;*/
    /*position: relative;*/
    height:100%;
    padding-top: 18% !important;
    padding-bottom: 13% !important;
    margin: 0 !important;
}
.fullpage_background2 {
    background: url("../../frontend_images/homepage/bg2-light.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*height: 100%;*/
    padding: 5% !important;
    margin: 0 !important;
}
.fullpage_background3 {
    background: url("../../frontend_images/homepage/bg3.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*height: 100%;*/
}
.fullpage_background4 {
    background: url("../../frontend_images/homepage/bg4.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*height: 100%;*/
    padding: 5% !important;
    margin: 0 !important;
}
.fullpage_background5 {
    background: url("../../frontend_images/homepage/bg5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*height: 100%;*/
    padding: 5% !important;
    margin: 0 !important;
}

.homepage-section1-img{
    width: 25%;
}

.homepage-section3-h1{
    font-family: inherit !important;
    font-size: 36px !important;
    font-weight: normal !important;
}

.homepage-section4-img{
    width: 60%;
}
.homepage-section4-img-text{
    height:225px;
}

.project-border{
    background: white;
    border: 2px solid #ff7a00;
    padding:10px;
    margin:10px;
    color:black;
    transition: border-width 1s linear;
}
.project-border:hover { border-width: 5px; }

.row-clickable{
    cursor: pointer;
}

.donet__area_img_edit {
    background: url("../../frontend_images/homepage/bg2.jpg") no-repeat center center;
    background-size: 100%;
    max-height: 550px;
    position: relative;
    height:600px;
    padding: 0 !important;
    margin: 0 !important;
}
.section-name-first{
    text-align: left !important;
    /*padding-top: 20%;*/
    color: #333 !important;
}
.section-name-first.parallax h2{
    color: #333 !important;
}
.section-name-first.parallax h4{
    color: #333 !important;
    line-height: 30px;
}
.lending{
    background: #333 none repeat scroll 0 0;
}
.donet__area h1, .donet__area .section-name > h2 {
    color: white !important;
}
.team-wrapper{
    background: url("../../frontend_images/slides/s1.jpg") no-repeat center center;
    background-size: 100%;
    /*max-height: 500px;*/
    position: relative;
    color: white !important;
}
.blog-btm-desc p, .section-name h5 {
    color: white !important;
}
.read-more{
    color: white;
    text-decoration: underline;
}
.homepage-footer-contact-us{
    text-align: right;
}

.subscribe-section{
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 2%;
    padding-top: 2%;
}
.subscribe-form-div{
    background: #ff7a00 none repeat scroll 0 0;
    color:white;
    height: auto;
}
.subscribe-field{
    background-color: #ff7a00;
    width: 100% !important;
    height: 45px;
    border-radius: 3px;
    padding: 0 15px;
}
.subscribe-submit{
    background-color: white !important;
    color: #ff7a00 !important;
    width: 75% !important;
}
.subscribe-footer{
    text-align: center;
    border-bottom: 10px solid #ff7a00;
    padding-bottom: 10px;
}
