.page-banner{
    background: #BD562a !important;
}

#chart_wrap {
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow:hidden;
}

@media screen and (min-width: 466px) and (max-width: 751px)  {
    #chart_wrap {
        padding-bottom: 60%;
    }
}
@media screen and (max-width: 465px)  {
    #chart_wrap {
        padding-bottom: 75%;
    }
}

#chart_div {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.progress-bar {
    background: #f1f1f1 none repeat scroll 0 0 !important;
    border-radius: 25px !important;
    box-shadow: 0 0 0 !important;
    height: 17px !important;
    margin: 0 0 19px !important;
    position: relative !important;
    width: 100% !important;
}

.custom-color .active p{
    color:white;
}